.main-content {
  width: 90%;
  margin: 20px auto;
  background: #f6f6ef;
}

.header-bar {
  background: #FF6600;
  height :30px;
  line-height 30px;
  padding:0 5px;
  a {
    color: #000
  }
}

@media only screen and (max-width: 750px) {
  .main-content {
    width: 100%;
    margin: 10px auto 0;
  }
}