.main-content {
  width: 90%;
  margin: 20px auto;
}

.header-bar {
  background: #FF6600
  a {
    color: #000
  }
}

@media only screen and (max-width: 750px) {
  .main-content {
    width: 100%;
    margin: 10px auto 0;
  }
}