* {
  box-sizing border-box
  margin: 0
  padding: 0
}

html, body {
  -webkit-tap-highlight-color: transparent;
}

img {
  vertical-align: middle
}

ul, li {
  list-style: none;
}

a {
  text-decoration: none;
}

.hide {
  display: none !important
}

