
.story-detail .story-list-item {
  &::before {
    display: none
  }
    margin :20px 0 40px 20px;
}

.comment-item {
  padding-left: 20px;
  .comment-meta{
    color:#999;
    font-size :12px;
    margin-top 10px;
  }
}